/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END OF CSS RESET */

body {
  font-family: "Jost", sans-serif;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f7aa1c 100%);

  color: #3d3107;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #3d2e03;

  padding: 1em 2em;
}

.logo {
  color: white;
  font-size: 2rem;
}

.nav {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 5em;

  margin-top: 4em;
  padding: 0 2em;
}

.app_screenshots {
  order: 1;
}

.info {
  order: 2;
}

.info h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 1em;

  color: #3d2e03;
}

.info p {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify;
}

.info li {
  line-height: 1.5;
  font-size: 1.1rem;
  text-align: justify;
}

.call_to_action {
  font-size: 1.6rem;
}

.buttons_wrapper {
  display: flex;
  gap: 1em;

  margin: 2em 0 10em;
}

.download_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  width: 100%;

  border-radius: 8px;

  padding: 0.5em 1em;

  background: #3b2900;
  color: white;

  text-decoration: none;

  transition: transform 0.4s ease-in-out;
}

.download_button:hover {
  transform: scale(1.1);
}

.download_button img {
  width: 1.5rem;
}

.download_button__text {
  line-height: 1.2;
}

#download_button__text-info {
  font-size: 0.8rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1em;
}

.social img {
  height: 1.8rem;
}

@media (min-width: 960px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .header {
    padding: 1.5em 5em;

    border-radius: 0 0 8px 8px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav {
    display: flex;
    gap: 2em;
  }

  .nav a {
    text-decoration: none;
    color: white;

    font-weight: 500;

    transition: color 0.3s ease-in-out;
  }

  .nav a:hover {
    color: #f7aa1c;
  }

  .content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 6em;
    padding: 0 5em;
  }

  .app_screenshots {
    order: 2;
  }

  .info {
    order: 1;
  }

  .info h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: left;
  }

  .info p {
    max-width: 30rem;
  }

  .info li {
    max-width: 30rem;
    font-size: 1rem;
  }

  .call_to_action {
    font-size: 1.4rem;
  }

  .buttons_wrapper {
    margin: 2em 0;
  }

  .download_button {
    width: 11em;
  }
}
